<!DOCTYPE html>
	<html th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
		<head>
			<title th:text="#{driverStanding.list}">Clasificación general de pilotos</title>
		</head>
		<body>
			<div class="content">
				<div class="container">
					<h1 th:text="#{driverStanding.list}">Clasificación general de escuderías</h1>
					
					<div th:replace="driverStanding/search :: frag-driver-standing-search"></div>
					
					<nav th:if="${pages.size() > 0}" class="nav justify-content-center">
						<div class="enlaces-paginacion">
							<ul class="pagination">
								<li th:class="${selectedPage > 1} ? 'page-item' : 'page-item disabled'">
									<a href="#" th:href="@{/driver-standing/list(offset=${selectedPage}-1,
															   limit=${limit},
															   season=${driverStandingForm.season},
															   position=${driverStandingForm.position},
															   driver=${driverStandingForm.driver})}"
									   th:text="#{paginacion.previous}"
									   class="page-link">
									</a>
								</li>
								<li th:each="page: ${pages}" th:class="${page==selectedPage} ? 'page-item active' : 'page-item'">
									<a href="#" th:href="@{/driver-standing/list(offset=${page},
															   limit=${limit},
															   season=${driverStandingForm.season},
															   position=${driverStandingForm.position},
															   driver=${driverStandingForm.driver})}"
									   th:text="${page}"
									   class="page-link">
									</a>
								</li>
								<li th:class="${selectedPage < totalPages} ? 'page-item' : 'page-item disabled'">
									<a href="#" th:href="@{/driver-standing/list(offset=${selectedPage}+1,
															   limit=${limit},
															   season=${driverStandingForm.season},
															   position=${driverStandingForm.position},
															   driver=${driverStandingForm.driver})}"
									   th:text="#{paginacion.next}"
									   class="page-link">
									</a>
								</li>
							</ul>
						</div>
					</nav>
					
					<div class="results-container">
						<h2 th:text="#{result.list}">Resultados encontrados</h2>
						
						<div>
							<span th:utext="#{paginacion.number(${totalElements})}">Numero de registros</span>
						</div>
						
						<table th:if="${driversStanding.size() > 0}" class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th th:text="#{driverStanding.season}">Temporada</th>
									<th th:text="#{driverStanding.position}">Posición</th>
									<th th:text="#{driverStanding.points}">Puntos</th>
									<th th:text="#{driverStanding.driver}">Driver</th>
									<th th:text="#{driverStanding.constructor}">Escudería</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="driverStd : ${driversStanding}">
									<td th:text="${driverStd.season}"></td>
									<td th:text="${driverStd.position}"></td>
									<td th:text="${driverStd.points}"></td>
									<td th:text="${driverStd.driver.fullname}"></td>
									<td th:text="${driverStd.constructor.name}"></td>
								</tr>
							</tbody>
						</table>
						
						<div th:if="${driversStanding.size() == 0}"
						 class="no-elements bg-info text-white">
							<span th:text="#{paginacion.empty}"></span>
						</div>
					</div>		
				
					<p class="volver-atras"> 
						<a class="btn btn-secondary" th:href="@{/}"
						   th:text="#{link.return}">Volver atrás</a>
					</p>
				</div>		
			</div>
		</body>
	</html>