<!DOCTYPE html>
	<html th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
		<head>
			<title th:text="#{driver.list}">Lista de pilotos</title>
		</head>
		<body>
			<div class="content">
				<div class="container">
					<h1 th:text="#{driver.list}">Lista de pilotos</h1>
					
					<nav th:if="${pages.size() > 0}">
						<div class="enlaces">
							<ul class="pagination">
								<li th:class="${selectedPage > 1} ? 'page-item' : 'page-item disabled'">
									<a th:href="@{/driver/list(offset=${selectedPage}-1, limit=${limit})}"
									   th:text="#{paginacion.previous}"
									   class="page-link">
									</a>
								</li>
								<li th:each="page: ${pages}" th:class="${page==selectedPage} ? 'page-item active' : 'page-item'">
									<a th:href="@{/driver/list(offset=${page}, limit=${limit})}"
									   th:text="${page}"
									   class="page-link">
									</a>
								</li>
								<li th:class="${selectedPage < totalPages} ? 'page-item' : 'page-item disabled'">
									<a th:href="@{/driver/list(offset=${selectedPage}+1, limit=${limit})}"
									   th:text="#{paginacion.next}"
									   class="page-link">
									</a>
								</li>
							</ul>
						</div>
						
						<form th:action="@{/driver/list}" th:object="${paginationForm}"
							  method="post">
							<input id="offset" name="offset" type="hidden"
							       th:field="*{offset}">
							
							<label th:text="#{paginacion.length} + ':'" for="limit"></label>
							<input id="limit" name="limit" type="number"
							       th:field="*{limit}" min="1" th:max="${totalElements}" />
					
							<input type="submit" name="update" th:value="#{paginacion.update}" />
						</form>
						<span th:utext="#{paginacion.number(${totalElements})}">Numero de registros</span>
					</nav>
				
					<table th:if="${drivers.size() > 0}" class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th>
								</th>
								<th th:text="#{driver.fullname}">Nombre completo</th>
								<th th:text="#{driver.placebirth}">Place of birth</th>
								<th th:text="#{driver.country}">Country</th>
								<th th:text="#{driver.datebirth}">Date of birth</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="driver : ${drivers}">
								<td>
									<a th:href="@{/driver/display(fullname=${driver.fullname})}" th:text="#{link.display}">Display</a>
								</td>
								<td th:text="${driver.fullname}"></td>
								<td th:text="${driver.placeOfBirth}"></td>
								<td th:text="${driver.country}"></td>
								<td th:text="${#dates.format(driver.dateOfBirth, 'dd/MM/yyyy')}"></td>
							</tr>
						</tbody>
					</table>
					<span th:if="${drivers.size() == 0}" th:text="#{paginacion.empty}"></span>
				</div>
				
				<div>
					<h3> Parametros de busqueda </h3>
					<p> <strong> NombreCompleto: </strong> <span th:text="${nombreCompleto} ? ${nombreCompleto} : 'No se ha buscado por este parametro'"></span> </p>
					<p> <strong> Pais: </strong> <span th:text="${pais} ? ${pais} : 'No se ha buscado por este parametro'"></span> </p>
				</div>
				
				<div th:replace="driver/search :: frag-driver-search"></div>
				
				<p> <a th:href="@{/}"
					   th:text="#{link.return}">Volver atrás</a> </p>
			</div>
		</body>
	</html>