<!DOCTYPE html>
	<html th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
		<head>
			<title th:text="#{driver.list}">Lista de pilotos</title>
		</head>
		<body>
			<div class="content">
				<div class="container">
					<h1 th:text="#{driver.list}">Lista de pilotos</h1>
					
					<div th:replace="driver/search :: frag-driver-search"></div>
					<nav th:if="${pages.size() > 0}" class="nav justify-content-center">
						<div class="enlaces-paginacion">
							<ul class="pagination">
								<li th:class="${selectedPage > 1} ? 'page-item' : 'page-item disabled'">
									<a href="#" th:href="@{/driver/list(offset=${selectedPage}-1,
															   fullname=${driverForm.fullname},
															   nationality=${driverForm.nationality})}"
									   th:text="#{paginacion.previous}"
									   class="page-link">
									</a>
								</li>
								
								<li class="page-item active">
									<a href="#" th:href="@{/driver/list(offset=${page},
															   fullname=${driverForm.fullname},
															   nationality=${driverForm.nationality})}"
									   th:text="${selectedPage}"
									   class="page-link">
									</a>
								</li>
								
								<li th:class="${selectedPage < totalPages} ? 'page-item' : 'page-item disabled'">
									<a href="#" th:href="@{/driver/list(offset=${selectedPage}+1,
															   fullname=${driverForm.fullname},
															   nationality=${driverForm.nationality})}"
									   th:text="#{paginacion.next}"
									   class="page-link">
									</a>
								</li>
							</ul>
						</div>
					</nav>
				
					<div class="results-container">
						<h2 th:text="#{result.list}">Resultados encontrados</h2>
						
						<div class="info-size">
							<span th:utext="#{paginacion.number(${totalElements})}">
								Numero de registros
							</span>
						</div>
						
						<table th:if="${drivers.size() > 0}" class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th>
									</th>
									<th th:text="#{driver.fullname}">Nombre completo</th>
									<th th:text="#{driver.nationality}">Country</th>
									<th th:text="#{driver.datebirth}">Date of birth</th>
									<th>Wikipedia</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="driver : ${drivers}">
									<td>
										<a th:href="@{/driver/display(fullname=${driver.fullname})}" th:text="#{link.display}">Display</a>
									</td>
									<td th:text="${driver.fullname}"></td>
									<td th:text="${driver.nacionality}"></td>
									<td th:text="${driver.dateOfBirth}"></td>
									<td>
										<a target="_blank" th:text="#{driver.information}" th:href="${driver.information}"></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div th:if="${drivers.size() == 0}"
						 class="no-elements bg-info text-white">
						<span th:text="#{paginacion.empty}"></span>
					</div>
					
					<p class="volver-atras"> 
						<a class="btn btn-secondary" th:href="@{/}"
						   th:text="#{link.return}">Volver atrás</a>
					</p>
				</div>		
			</div>
		</body>
	</html>