<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<div class="form driver search container" th:fragment="frag-driver-search">
				<h2 th:text="#{search.finder}">Buscador</h2>
				<form class="search was-validated needs-validation" th:action="@{/driver/list}"
				      th:object="${driverForm}" method="post" onsubmit="return validateDriverForm()">
					
					<input id="offset" type="hidden" th:field="*{offset}" />
						
					<div class="form-group input-group">
						<div class="input-group-prepend">
					      <span class="input-group-text"
					            th:text="#{driver.fullname}"></span>
					    </div>
					    
						<input class="form-control is-invalid" id="fullname" type="text"
						       th:field="*{fullname}"
						       onchange="validateFullnameDriver()" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" 
							      th:if="${#fields.hasErrors('fullname')}"
							      th:errors="*{fullname}">Error nombre completo</span>
							<span id="fullnameDriverError"></span>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
						      <span class="input-group-text"
						            th:text="#{driver.nationality}"></span>
						    </div>
							<input class="form-control is-invalid" id="nationality" type="text"
								   th:field="*{nationality}"
								   onchange="validateNationalityDriver()" />
							
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">
									<span class="error" th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}">Error nacionalidad</span>
									<span id="nationalityDriverError"></span>
								</div>
						</div>
						<span class="form-text text-muted" th:text="#{driver.nationality.info}">Información</span>
						
					</div>
					
					<input type="submit" name="search" th:value="#{form.search}" class="btn btn-primary" />
					<input type="submit" name="reset" th:value="#{form.reset}" class="btn btn-warning" />
				</form>
			</div>
		</body>
	</html>