<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<div class="form driver search container" th:fragment="frag-driver-search">
				<h2 th:text="#{search.finder}">Buscador</h2>
				<form class="search was-validated needs-validation" th:action="@{/driver/list}"
				      th:object="${driverForm}" method="post" onsubmit="return validateDriverForm()">
					
					<input id="offset" type="hidden" th:field="*{offset}" />
					
					
					<div class="form-group">
						<label th:text="#{driver.fullname} + ':'" for="fullname"></label>
						<input class="form-control is-invalid" id="fullname" type="text"
						       th:field="*{fullname}"
						       onchange="validateFullname()" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" 
							      th:if="${#fields.hasErrors('fullname')}"
							      th:errors="*{fullname}">Error nombre completo</span>
							<span id="fullnameError"></span>
						</div>
					</div>
					
					<div class="form-group">
						<label th:text="#{driver.country} + ':'" for="country"></label>
						<input class="form-control is-invalid" id="country" type="text"
							   th:field="*{country}"
							   onchange="validateCountry()" />
						<span class="form-text text-muted" th:text="#{driver.country.info}">Información</span>
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Error pais</span>
							<span id="countryError"></span>
						</div>
					</div>
					
					<input type="submit" name="search" th:value="#{form.search}" class="btn btn-primary" />
					<input type="submit" name="reset" th:value="#{form.reset}" class="btn btn-warning" />
				</form>
			</div>
		</body>
	</html>