<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<div class="form driver search container" th:fragment="frag-driver-search">
			
				<form th:action="@{/driver/list}" th:object="${driverForm}" method="post" onsubmit="return validateDriverForm()">
					<!--<input id="paginationForm" type="hidden" th:field="*{paginationForm}" />-->
					
					<label th:text="#{driver.fullname} + ':'" for="fullname"></label>
					<input id="fullname" type="text" th:field="*{fullname}" onchange="validateFullname()" />
					<span class="error" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Error nombre completo</span>
					<span id="fullnameError" class="error"></span>
					<br />
					
					<label th:text="#{driver.country} + ':'" for="country"></label>
					<input id="country" type="text" th:field="*{country}" onchange="validateCountry()" />
					<span class="error" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Error pais</span>
					<span id="countryError" class="error"></span>
					<br />
					
					<input type="submit" name="search" th:value="#{form.search}" />
					<input type="submit" name="reset" th:value="#{form.reset}" />
				</form>
			</div>
		</body>
	</html>