<!DOCTYPE html>
	<html th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
		<head>
			<title th:text="#{circuit.list}">Lista de escuderías</title>
		</head>
		<body>
			<div class="content">
				<div class="container">
					<h1 th:text="#{circuit.display}">Detalles de una escudería</h1>
					
					<div class="detalles" style="background-color:'grey';">
						<p>
							<strong th:text="#{circuit.name}">Nombre</strong>
							<span th:text="${circuit.name}"></span>
						</p>
						
						<p th:if="${circuit.type != null}">
							<strong th:text="#{circuit.type}">Tipo</strong>
							<span th:text="${circuit.type}"></span>
						</p>
						
						<p>
							<strong th:text="#{circuit.location}">Localización</strong>
							<span th:text="${circuit.location}"></span>
						</p>
						
						<p>
							<strong th:text="#{circuit.lapDistance}">Distancia</strong>
							<span th:text="${circuit.lapDistance}"></span>
						</p>
						
					</div>
									
					<p> <a th:href="@{/circuit/list}"
					  	   th:text="#{link.return}">Volver atrás</a> </p>
				
				</div>
			</div>
		</body>
	</html>