<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<div class="form circuit search container" th:fragment="frag-circuit-search">
				<h2 th:text="#{search.finder}">Buscador</h2>
				<form class="search was-validated needs-validation"
				      th:action="@{/circuit/list-by-season}"
				      method="post"
				      onsubmit="return searchBySeason()">
							
					<div class="form-group input-group">
						<div class="input-group-prepend">
					      <span class="input-group-text"
					            th:text="#{circuit.season}"></span>
					    </div>
						
						<input class="form-control is-invalid" 
							   name="seasonSearch"
							   id="seasonSearch"
							   type="text"
							   th:value="${season}"
						       onchange="validateSeasonCircuit()" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span id="seasonCircuitError"></span>
						</div>
					</div>
					
					<input type="submit" name="search" th:value="#{form.search}" class="btn btn-primary" />
				</form>
			</div>
		</body>
	</html>