<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<div class="form circuit search container" th:fragment="frag-circuit-search">
				<h2 th:text="#{search.finder}">Buscador</h2>
				<form class="search was-validated needs-validation" th:action="@{/circuit/list}"
				      th:object="${circuitForm}" method="post" onsubmit="return validateCircuitForm()">
					
					<input id="offset" type="hidden" th:field="*{offset}" />
							
					<div class="form-group input-group">
						<div class="input-group-prepend">
					      <span class="input-group-text"
					            th:text="#{circuit.name}"></span>
					    </div>
					
						<input class="form-control is-invalid" id="name" type="text"
						       th:field="*{name}"
						       onchange="validateNameCircuit()" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" 
							      th:if="${#fields.hasErrors('name')}"
							      th:errors="*{name}">Error nombre</span>
							<span id="nameError"></span>
						</div>
					</div>
										
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
						      <span class="input-group-text"
						            th:text="#{circuit.location}"></span>
						    </div>
							<input class="form-control is-invalid"
							   	   id="location"
							   	   type="text"
							   	   th:field="*{location}"
							   	   onchange="validateLocationCircuit()" />
							 
							 <div class="valid-feedback"></div>
							 <div class="invalid-feedback">
								<span class="error"
									  th:if="${#fields.hasErrors('location')}"
									  th:errors="*{location}">Error localización</span>
								<span id="locationError"></span>
							 </div>      
						</div>
						
						<span class="form-text text-muted" th:text="#{circuit.country.info}">Información</span>
					</div>
					
					<input type="submit" name="search" th:value="#{form.search}" class="btn btn-primary" />
					<input type="submit" name="reset" th:value="#{form.reset}" class="btn btn-warning" />
				</form>
			</div>
		</body>
	</html>