@charset "ISO-8859-1";

* {
	box-sizing: border-box;
	font-family: "Segoe UI", Arial, sans-serif;
}

table.table {
	margin-top: 75px;
}

.footer {
	background-color: #9ACD32;
}

span.error {
	color:red;
}

div.info-size  {
	display:block;
	float: left;
}

div.enlaces-paginacion ul li {
	display: inline;
}

div.enlaces-paginacion ul li a {
	float:left;
}

ul.navbar-nav li.nav-item.right-link {
	float:right !important;
}

footer.footer div div {
	text-align:center;
}

div.no-elements {
	padding: 25px;
	width: 50%;
}

p.volver-atras {
	margin: 25px;
}
