@charset "ISO-8859-1";

* {
	box-sizing: border-box;
	font-family: "Segoe UI", Arial, sans-serif;
}

/*
.content {
	background-color: #C0C0C0;
}
*/
.footer {
	background-color: #9ACD32;
}

span.error {
	color:red;
}

#descripcionAppWeb {
	border-bottom: 5px;
	background-color: #DCDCDC;
}

#descripcionAPI {
	background-color: #D3D3D3;
}