<!DOCTYPE html>
	<html th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
		<head>
			<title th:text="#{constructor.list}">Lista de escuderías</title>
		</head>
		<body>
			<div class="content">
				<div class="container">
					<h1 th:text="#{constructor.list}">Lista de escuderías</h1>
					
					<div th:replace="constructor/search :: frag-constructor-search"></div>
					<nav th:if="${pages.size() > 0}">
						<div class="enlaces-paginacion">
							<ul class="pagination">
								<li th:class="${selectedPage > 1} ? 'page-item' : 'page-item disabled'">
									<a href="#" th:href="@{/constructor/list(offset=${selectedPage}-1,
															   name=${constructorForm.name},
															   country=${constructorForm.country})}"
									   th:text="#{paginacion.previous}"
									   class="page-link">
									</a>
								</li>
								<li th:each="page: ${pages}" th:class="${page==selectedPage} ? 'page-item active' : 'page-item'">
									<a href="#" th:href="@{/constructor/list(offset=${page},
															   name=${constructorForm.name},
															   country=${constructorForm.country})}"
									   th:text="${page}"
									   class="page-link">
									</a>
								</li>
								<li th:class="${selectedPage < totalPages} ? 'page-item' : 'page-item disabled'">
									<a href="#" th:href="@{/constructor/list(offset=${selectedPage}+1,
															   name=${constructorForm.name},
															   country=${constructorForm.country})}"
									   th:text="#{paginacion.next}"
									   class="page-link">
									</a>
								</li>
							</ul>
						</div>
					</nav>
				
					<div class="results-container">
						<h2 th:text="#{result.list}">Resultados encontrados</h2>
						
						<div class="info-size">
							<span th:utext="#{paginacion.number(${totalElements})}">
								Numero de registros
							</span>
						</div>
						
						<table th:if="${constructors.size() > 0}" class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th>
									</th>
									<th th:text="#{constructor.name}">Nombre</th>
									<th th:text="#{constructor.country}">Country</th>
									<th th:text="#{constructor.principal}">Current principal</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="constructor : ${constructors}">
									<td>
										<a th:href="@{/constructor/display(name=${constructor.name})}" th:text="#{link.display}">Display</a>
									</td>
									<td th:text="${constructor.name}"></td>
									<td th:text="${constructor.country}"></td>
									<td th:text="${constructor.principal}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div th:if="${constructors.size() == 0}"
						 class="no-elements bg-info text-white">
						<span th:text="#{paginacion.empty}"></span>
					</div>
					
					<p class="volver-atras"> 
						<a class="btn btn-secondary" th:href="@{/}"
						   th:text="#{link.return}">Volver atrás</a>
					</p>
				</div>		
			</div>
		</body>
	</html>