<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<div class="form constructor search container" th:fragment="frag-constructor-search">
				<h2 th:text="#{search.finder}">Buscador</h2>
				<form class="search was-validated needs-validation" th:action="@{/constructor/list}"
				      th:object="${constructorForm}" method="post" onsubmit="return validateConstructorForm()">
					
					<input id="offset" type="hidden" th:field="*{offset}" />
					
					<div class="form-group input-group">
						<div class="input-group-prepend">
					      <span class="input-group-text"
					            th:text="#{constructor.name}"></span>
					    </div>
						
						<input class="form-control is-invalid" id="name" type="text"
						       th:field="*{name}"
						       onchange="validateNameConstructor()" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" 
							      th:if="${#fields.hasErrors('name')}"
							      th:errors="*{name}">Error nombre completo</span>
							<span id="nameConstructorError"></span>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
						      <span class="input-group-text"
						            th:text="#{constructor.nationality}"></span>
							</div>
					    	
						    <input class="form-control is-invalid"
								   id="nationality"
								   type="text"
								   th:field="*{nationality}"
								   onchange="validateNationalityConstructor()" />
							<div class="valid-feedback"></div>
							<div class="invalid-feedback">
								<span class="error" th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}">Error pais</span>
								<span id="nationalityConstructorError"></span>
							</div>	
					    </div>
					    
					    <span class="form-text text-muted" th:text="#{constructor.nationality.info}">Información</span>
					</div>
					
					<input type="submit" name="search" th:value="#{form.search}" class="btn btn-primary" />
					<input type="submit" name="reset" th:value="#{form.reset}" class="btn btn-warning" />
				</form>
			</div>
		</body>
	</html>