<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<div class="form constructor search container" th:fragment="frag-constructor-search">
				<h2 th:text="#{search.finder}">Buscador</h2>
				<form class="search was-validated needs-validation" th:action="@{/constructor/list}"
				      th:object="${constructorForm}" method="post" onsubmit="return validateConstructorForm()">
					
					<input id="offset" type="hidden" th:field="*{offset}" />
					
					<div class="form-group" style="padding-right:20px;">
						<label th:text="#{paginacion.length} + ':'" for="limit"></label>
						<input class="form-control"
						       id="limit"
						       type="number"
					      	   th:field="*{limit}"
					      	   min="1"
					      	   th:max="${totalElements}"
					      	   onchange="validateLimit()"
					      	   th:disabled="${totalElements} == 0 ? 'true' : 'false'" />
					    <span class="form-text text-muted" th:text="#{constructor.limit.info}">Información</span>
					    <div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" 
							      th:if="${#fields.hasErrors('limit')}"
							      th:errors="*{limit}">Error nombre completo</span>
							<span id="limitError"></span>
						</div>
					</div>
					
					<div class="form-group">
						<label th:text="#{constructor.name} + ':'" for="name"></label>
						<input class="form-control is-invalid"
						       id="name"
						       type="text"
						       th:field="*{name}"
						       onchange="validateName()" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" 
							      th:if="${#fields.hasErrors('name')}"
							      th:errors="*{name}">Error nombre completo</span>
							<span id="nameError"></span>
						</div>
					</div>
					
					<div class="form-group">
						<label th:text="#{constructor.country} + ':'" for="country"></label>
						<input class="form-control is-invalid"
							   id="country"
							   type="text"
							   th:field="*{country}"
							   onchange="validateCountry()" />
						<span class="form-text text-muted" th:text="#{constructor.country.info}">Información</span>
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Error pais</span>
							<span id="countryError"></span>
						</div>
					</div>
					
					<input type="submit" name="search" th:value="#{form.search}" class="btn btn-primary" />
					<input type="submit" name="reset" th:value="#{form.reset}" class="btn btn-warning" />
				</form>
			</div>
		</body>
	</html>