<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<footer class="footer" th:fragment="frag-footer">
				<div class="jumbotron jumbotron-fluid bg-dark text-white">	
					<div class="container">		
						<strong th:utext="#{master.footer.copyright(${#calendars.format(#calendars.createNow(), 'yyyy')})}"></strong>
					
						<p>
							<a th:href="@{terms}" th:text="#{master.footer.terms}"></a>	
						</p>
						
						<p>
							<a th:href="@{cookies}" th:text="#{master.footer.cookies}"></a>
						</p>
					</div>
				</div>
			</footer>
		</body>
	</html>