<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="menu-principal" th:fragment="frag-menu">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<a class="nav-item navbar-brand" href="#" th:href="@{/}">
					Motorsport F1
				</a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"> </span>
				</button>
				
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/driver/list}"
							   th:text="#{driver.list}">Lista de pilotos</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/constructor/list}"
							   th:text="#{constructor.list}">Lista de escuderias</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="#" th:href="@{/circuit/list}"
							   th:text="#{circuit.list}">Lista de circuits</a>
						</li>
						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#"
							   id="navbardrop" data-toggle="dropdown"
							   th:text="#{master.menu.standing}"> Clasificacion general </a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#" th:href="@{/constructor-standing/list}"
							       th:text="#{master.menu.constructorStanding}">Clasificacion general de escuderias</a>
								<a class="dropdown-item" href="#" th:href="@{/driver-standing/list}"
							       th:text="#{master.menu.driverStanding}">Clasificacion general de pilotos</a>
							</div>
						</li>
												
						<li class="nav-item right-link">
							<a class="nav-link" href="#" th:href="@{/api}">
								API Rest - FOne
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</body>
</html>
