<!DOCTYPE html>

	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<div class="menu-principal" th:fragment="frag-menu">
				<ul id="menu">
					<li class="dropdown"> <a href="javascript:void(0)" class="dropbtn" th:text="#{master.menu.driver}"> </a>
						<div class="dropdown-content">
							<a href="driver/list" th:text="#{driver.list}"> </a>
							<a href="driver/list" th:text="#{driver.list}"> </a>
							<a href="driver/list" th:text="#{driver.list}"> </a>
						</div>
					</li>
					
					<li class="dropdown"> <a href="javascript:void(0)" class="dropbtn" th:text="#{master.menu.constructor}"> </a>
						<div class="dropdown-content">
							<a href="constructor/list" th:text="#{constructor.list}"> </a>
							<a href="constructor/list" th:text="#{constructor.list}"> </a>
							<a href="constructor/list" th:text="#{constructor.list}"> </a>
						</div>
					</li>
					
					<li class="dropdown"> <a href="javascript:void(0)" class="dropbtn" th:text="#{master.menu.circuit}"> </a>
						<div class="dropdown-content">
							<a href="circuit/list" th:text="#{circuit.list}"> </a>
							<a href="circuit/list" th:text="#{circuit.list}"> </a>
							<a href="circuit/list" th:text="#{circuit.list}"> </a>
						</div>
					</li>
				</ul>
			</div>
		</body>
	</html>
