<!DOCTYPE html>
	<html th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
		<head>
			<title th:text="#{constructorStanding.list}">Clasificación general de escuderías</title>
		</head>
		<body>
			<div class="content">
				<div class="container">
					<h1 th:text="#{constructorStanding.list}">Clasificación general de escuderías</h1>
					
					<div th:replace="constructorStanding/search :: frag-constructor-standing-search"></div>
					
					<nav th:if="${pages.size() > 0}" class="nav justify-content-center">
						<div class="enlaces-paginacion">
							<ul class="pagination">
								<li th:class="${selectedPage > 1} ? 'page-item' : 'page-item disabled'">
									<a href="#" th:href="@{/constructor-standing/list(offset=${selectedPage}-1,
															   season=${constructorStandingForm.season},
															   position=${constructorStandingForm.position},
															   constructor=${constructorStandingForm.constructor})}"
									   th:text="#{paginacion.previous}"
									   class="page-link">
									</a>
								</li>
								<li th:each="page: ${pages}" th:class="${page==selectedPage} ? 'page-item active' : 'page-item'">
									<a href="#" th:href="@{/constructor-standing/list(offset=${page},
															   season=${constructorStandingForm.season},
															   position=${constructorStandingForm.position},
															   constructor=${constructorStandingForm.constructor})}"
									   th:text="${page}"
									   class="page-link">
									</a>
								</li>
								<li th:class="${selectedPage < totalPages} ? 'page-item' : 'page-item disabled'">
									<a href="#" th:href="@{/constructor-standing/list(offset=${selectedPage}+1,
															   season=${constructorStandingForm.season},
															   position=${constructorStandingForm.position},
															   constructor=${constructorStandingForm.constructor})}"
									   th:text="#{paginacion.next}"
									   class="page-link">
									</a>
								</li>
							</ul>
						</div>
					</nav>
					
					<div class="results-container">
						<h2 th:text="#{result.list}">Resultados encontrados</h2>
						
						<div class="info-size">
							<span th:utext="#{paginacion.number(${totalElements})}">Numero de registros</span>
						</div>
						
						<table th:if="${constructorsStanding.size() > 0}" class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th th:text="#{constructorStanding.season}">Temporada</th>
									<th th:text="#{constructorStanding.position}">Posición</th>
									<th th:text="#{constructorStanding.points}">Puntos</th>
									<th th:text="#{constructorStanding.wins}">Victorias</th>
									<th th:text="#{constructorStanding.constructor}">Escudería</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="constructorStd : ${constructorsStanding}">
									<td th:text="${constructorStd.season}"></td>
									<td th:text="${constructorStd.position}"></td>
									<td th:text="${constructorStd.points}"></td>
									<td th:text="${constructorStd.wins}"></td>
									<td>
										<a th:text="${constructorStd.constructor.name}"
										   th:href="@{/constructor/display(name=${constructorStd.constructor.name})}"> </a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div th:if="${constructorsStanding.size() == 0}"
						 class="no-elements bg-info text-white">
						<span th:text="#{paginacion.empty}"></span>
					</div>		
					
					<p class="volver-atras"> 
						<a class="btn btn-secondary" th:href="@{/}"
						   th:text="#{link.return}">Volver atrás</a>
					</p>
				</div>		
			</div>
		</body>
	</html>